@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
    font-size: 62.5%;
}

*, *:after, *:before {
    @include box-sizing(inherit);
}

body {
    background-color: $bg;
    font-size: 1.8rem;
    font-family: $fuente-principal;
}

// Estilos generales

img {
    max-width: 100%;
}

// Hero
.bg-header {
    background-color: $bg;
    position: fixed;
    width: 100%;
    top: 0%;
    @include sombra();
}

.contendor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    height: 6rem;
    

    .logo a{
        text-decoration: none;
        font-family: $fuente-secundaria;
        font-size: 2.4rem;
        color: $blanco;
    }
    .logo a:hover {
        color: $azul;
        font-size: 2.5rem;
    }

    .contenedor-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    
    .barra-navegacion {
        display: none;

        @include tablet {
            display: block;
            
            ul {
                display: flex;
                
            }
            li {
                list-style: none;
                margin-right: 2rem;
            }
            a {
                text-decoration: none;
                color: $blanco;
                font-size: 2rem;
            }
            a:hover {
                color: $azul;
                font-weight: 400;
                border-bottom: .2rem solid $azul;
            }
        }
        
    }

    .boton {
        @include boton();
    }
}

}

// Hero
.hero {
    margin-top: 6rem;
    min-height: 90vh;
    background-color: $purpura  ;
    display: flex;
    align-items: center;
    justify-content: center;

    .contenedor-hero {
        max-width: 90%;
        margin: 0 auto;
       

        .contenido-hero {
            display: flex;
            flex-direction: column;
            align-items: center;
        }   

        
        img {
            width: 22rem;
        }
        h1 {
            font-size: 7.2rem;
            font-family: $fuente-secundaria;
            color: $azul;
            font-weight: normal;
            margin: 0;
        }
        h2 {
            font-size: 2.2rem;
            color: $blanco;
            font-weight: normal;
            margin: 0;
            text-align: center;

        }

        .widgets-container {
            display: flex;
            margin-bottom: 3rem;
        }

        .widget:first-child {
            margin-right: 1rem;
        }

        .widget {
            display: flex;
            background-color: $blanco;
            @include sombra();
            box-shadow: inset;
            border-radius: .3rem;
            margin: 2.5rem 0 .8rem 0;

            .git_star {
                display: flex;
                align-items: center;
                padding: .5rem 1rem;
                gap: .3rem;
                border-right: .1rem solid $gris;
                
                img {
                    width: 1.6rem;
                    height: 1.6rem;
                }
                
                span {
                 font-size: 1.4rem;
                 font-weight: 700;   
                 color: $negro;
                }
            
            }

            .numeros {
                display: flex;
                align-items: center;
                padding: .5rem 1rem;

                 
                span {
                    font-size: 1.4rem;
                    font-weight: 700;   
                    color: $negro;
                }
                span:hover {
                    color: $blue;
                }
                   
            }
          
        }
    }


}

// Search
.search {
    background-color: $bg;
    padding-top: 3rem;
    
    .contenedor-search {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        min-height: 20rem;
        
        @include desktop {
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
    }

    //Contador
    .contador {
        margin-bottom: 2rem;

        @include desktop {
            margin-bottom: 0;
            margin-right: 2rem;    
        }
        span {
            font-size: 2rem;
            font-weight: normal;
            color: $white;            
        }
    } 

    // Buscador
    .buscador {
        margin-bottom: 2rem;
        
        width: 34.1rem;

        @include desktop {
            position: relative;
            flex: 0 1 calc(30%);            
            margin-bottom: 0;
            margin-right: 2rem;
        }

        input {
            outline: none;
            height: 3.5rem;
            color: $gris;
            background-color: $bg;
            border: 0.1rem solid $azul;
            font-size: 2rem;
            padding: .5rem 2rem;
            border-radius: .35rem;
            width: 100%;
        }
    
        input:focus {
            color: $blanco;
        }
    }

    //Filtros de botones
    .botones {
        display: flex;
        
        button {
            border: none;
            background-color: transparent;
            color: $gris;
            padding: .5rem 2rem;
            border-top: .1rem solid $azul;
            border-bottom: .1rem solid $azul;
            font-size: 2rem;
            border-right: .1rem solid $azul;
        }
        button:hover {
            color: $white;
        }
        button:first-child {
            border-left: .1rem solid $azul;
            border-top-left-radius: 0.35rem;
            border-bottom-left-radius: 0.33rem;
            background-color: $azul;
            color: $negro;
        }
        button:last-child {
            border-right: .1rem solid $azul;
            border-top-right-radius: 0.35rem;
            border-bottom-right-radius: 0.33rem;

        }
    
    }
    
}

// Main 
.main {
    background-color: $bg;
    padding-bottom: 4rem;
}

.contenedor-cards {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
    @include telefono {
        justify-content: space-between;
    }

    .card {
        
        flex: 0 1 calc(100% - 1rem);

        @include telefono {
            flex: 0 1 calc(50% - 1rem);
        }

        @include tablet {
            flex: 0 1 calc(33.3% - 1rem);
        }

        @include desktop {
            flex: 0 1 calc(25% - 1rem);

        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;

        img {
            max-width: 20rem;
        }

        .contenido-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 3.6rem;
                font-family: $fuente-secundaria;
                font-weight: normal;
                color: $blanco2;
                margin: 2rem 0 0 0;
            }
            h3:hover {
                color: $verde1;
            }
            p {
                font-size: 1.8rem;
                color: $blanco2;
                margin: 0;
                text-align: center;
            }
        }

    
    }
}


// Seccion
.pro-version {
    background-color: $purpura;
    padding: 8rem 0;

    .contenedor-seccion {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }

    }

    .contenedor-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        img {
            width: 22rem;
        }
    }

    .contendor-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include desktop {
            align-items: flex-start;
            margin-left: 2rem;
        }

        h2 {
            color: $verde1;
            font-family: $fuente-secundaria;
            font-size: 5.5rem;
            margin: 0;
        }
        h3 {
            color: $white;
            font-size: 3.2rem;
            font-weight: 700;
            margin: 0;
        }
        p {
            color: $gris;
            font-size: 2rem;
            margin: 0;
            margin-bottom: 2.5rem;
        }
        a {
            @include boton();
        }

    }
}

// Footer
.footer {
    background-color: $bg;
    padding: 5rem  0 3rem 0;
    display: flex;
    flex-direction: column;
    

    .contenedor-barras {
        max-width: 56rem;
        margin: 0 auto;
        padding: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        
        @include telefono {
            flex-direction: row;
            justify-content: center;
            
        }


        nav {
            margin-bottom: 1rem;

            @include telefono {
                flex: 0 1 calc(33% - 1rem);
                width: 20rem;
            }

            ul {
                padding: 0;
                margin: 0rem;
            }
            
            p {
                color: $blanco;
                font-size: 1.8rem;
                margin: 0 0 .9rem 0;
                font-weight: 400;
            }
            li {
                list-style: none;
                margin-bottom: 1rem;
                a {
                    color: $gris;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 300;
                }
                a:hover {
                    color: $white;
                }

            }
        }
    
    }

    .copyright {
        display: flex;
        justify-content: center;
         p {
             text-align: center;
             color: $blanco;
             font-size: 2.1rem;
             font-weight: 300;

            #corazon {
                color: $rosa;
            }
            #verde {
                color: $verde3;
            }
            #oranje {
                color: $naranja;
            }
             
        }
    }

}